{{- $personal_email := promptStringOnce . "personal_email" "Personal email address" -}}
{{- $work_email := promptStringOnce . "work_email" "Work email address" -}}
{{- $is_work_mac := promptBoolOnce . "is_work_mac" "Is this a work Mac" -}}
{{- $restic_healthchecks_success := promptStringOnce . "restic_healthchecks_success" "Restic success URL" -}}
{{- $pet_gist_id := promptStringOnce . "pet_gist_id" "Pet gist ID" -}}
{{- $pet_gist_token := promptStringOnce . "pet_gist_token" "Pet gist token" -}}
{{- if eq .chezmoi.arch "arm64" -}}
cd.command = "/opt/homebrew/bin/fish"
{{- else -}}
cd.command = "/usr/local/bin/fish"
{{- end }}

[diff]
command = "delta"
args = ["--diff-so-fancy"]

[data]
personal_email = {{ $personal_email | quote }}
work_email = {{ $work_email | quote }}
is_work_mac = {{ $is_work_mac }}
work_git_config = "~/Work/.gitconfig"
notes_directories = "~/Code/Projects/til"
restic_healthchecks_success = {{ $restic_healthchecks_success | quote }}
restic_backup_time = 40
pet_gist_id = {{ $pet_gist_id | quote }}
pet_gist_token = {{ $pet_gist_token | quote }}
gemini_api_key = {{ onepasswordRead "op://personal/zqi3rsn2kuyidkbehw5sgsqo24/credential" | quote }}
anthropic_api_key = {{ onepasswordRead "op://personal/u23su5f27pculhr5ibdgwtssfe/credential" | quote }}
openai_api_key = {{ onepasswordRead "op://personal/qwmqg6rbpngb5phqd4tj6kgcuu/credential" | quote }}
openrouter_api_key = {{ onepasswordRead "op://personal/zinvbojwn6vjngyrnia3v5mume/credential" | quote }}
codestral_api_key = {{ onepasswordRead "op://personal/7ka2g5pwk3gtmp5bn7sur6xewq/credential" | quote }}
