[user]
  name = Sean Peters
  email = {{ .sp.email }}

{{- if eq .chezmoi.hostname .sp.mac_hostname }}

[includeIf "gitdir:~/Work/"]
  path = {{ .sp.work_gitconfig }}
{{- end }}

[includeIf "gitdir:~/.local/share/chezmoi/"]
  path = ~/.gitconfig-chezmoi

[core]
  autocrlf = input
  safecrlf = true
  excludesfile = /Users/seanpeters/.gitignore_global
  pager = delta --diff-so-fancy

[init]
  defaultBranch = main

[interactive]
  diffFilter = delta --color-only --features=interactive

[diff]
  colorMoved = default

[merge]
  tool = nvimdiff
  conflictStyle = zdiff3


[mergetool]
  keepBackup = false

[delta]
  features = decorations
  navigate = true
  line-numbers = true

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-style = file line-number syntax

[credential "https://github.com"]
  helper =
  helper = !/usr/bin/env gh auth git-credential
[credential "https://gist.github.com"]
  helper =
  helper = !/usr/bin/env gh auth git-credential
