{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
tap "jesseduffield/lazygit"
brew "coreutils"
brew "bat"
brew "bob"
brew "curl"
brew "fd"
brew "fish"
brew "fnm"
brew "fzf"
brew "gh"
brew "git"
brew "git-delta"
brew "jesseduffield/lazygit/lazygit"
brew "mas"
brew "ripgrep"
brew "rsync"
brew "sesh"
brew "tldr"
brew "tree"
brew "vivid"
brew "wget"
brew "zoxide"
cask "1password-cli"
cask "bbedit"
cask "bruno"
cask "daisydisk"
cask "dash"
cask "firefox@developer-edition"
cask "ghostty"
cask "google-chrome"
cask "hazel"
cask "imageoptim"
cask "jordanbaird-ice"
cask "karabiner-elements"
cask "keyboard-maestro"
cask "launchcontrol"
cask "microsoft-teams"
cask "orbstack"
cask "qlmarkdown"
cask "raycast"
cask "syncthing"
cask "syntax-highlight", args: { no_quarantine: true }
cask "tableplus"
cask "zoom"
mas "1Password for Safari", id: 1569813296
mas "Consent-O-Matic", id: 1606897889
mas "Drafts", id: 1435957248
mas "Kagi for Safari", id: 1622835804
mas "Keeper for Safari", id: 6444685332
mas "Keynote", id: 409183694
mas "Noir", id: 1592917505
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Pixelmator Pro", id: 1289583905
mas "Raycast Companion", id: 6738274497
mas "Slack", id: 803453959
mas "StopTheMadness Pro", id: 6471380298
mas "TableFlip", id: 1462643128
mas "Velja", id: 1607635845
mas "Wipr", id: 1662217862
{{- if eq .is_work_mac false }}
cask "anki"
cask "black-ink"
cask "calibre"
cask "chronosync"
cask "devonthink"
cask "reader"
cask "soulver"
mas "Mela", id: 1568924476
mas "Save to Reader", id: 1640236961
mas "Subtrack", id: 1519946553
{{- end}}
EOF

if [ ! -d "/Users/seanpeters/.tmux/plugins/tpm" ]; then
  git clone https://github.com/tmux-plugins/tpm /Users/seanpeters/.tmux/plugins/tpm
fi

{{ end -}}
