{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "creativeprojects/tap"
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "homebrew/services"
tap "jesseduffield/lazygit"
tap "knqyf263/pet"
brew "coreutils"
brew "bat"
brew "curl"
brew "fd"
brew "fish"
brew "fnm"
brew "fzf"
brew "gh"
brew "git"
brew "git-delta"
brew "mas"
brew "neovim", args: ["HEAD"]
brew "ripgrep"
brew "rsync"
brew "tldr"
brew "tree"
brew "vivid"
brew "wget"
brew "zoxide"
brew "creativeprojects/tap/resticprofile"
brew "jesseduffield/lazygit/lazygit"
brew "knqyf263/pet/pet"
cask "1password-cli"
cask "anki"
cask "bbedit"
cask "black-ink"
cask "bruno"
cask "calibre"
cask "chronosync"
cask "daisydisk"
cask "dash"
cask "devonthink"
cask "docker"
cask "font-fira-code"
cask "google-chrome"
cask "hazel"
cask "imageoptim"
cask "karabiner-elements"
cask "keyboard-maestro"
cask "launchcontrol"
cask "microsoft-teams"
cask "mountain-duck"
cask "qlmarkdown"
cask "raycast"
cask "setapp"
cask "soulver"
cask "syncthing"
cask "wezterm"
cask "zoom"
mas "1Password for Safari", id: 1569813296
mas "Consent-O-Matic", id: 1606897889
mas "Drafts", id: 1435957248
mas "GoodLinks", id: 1474335294
mas "iA Writer", id: 775737590
mas "iMovie", id: 408981434
mas "Ivory", id: 6444602274
mas "Keeper for Safari", id: 6444685332
mas "Keynote", id: 409183694
mas "Mela", id: 1568924476
mas "Noir", id: 1592917505
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Pixelmator Pro", id: 1289583905
mas "Reeder", id: 1529448980
mas "Save to Reader", id: 1640236961
mas "Slack", id: 803453959
mas "StopTheMadness", id: 1376402589
mas "Subtrack", id: 1519946553
mas "TableFlip", id: 1462643128
mas "Things", id: 904280696
mas "Velja", id: 1607635845
mas "Wipr", id: 1320666476
mas "WorldWideWeb", id: 1621370168
mas "xSearch", id: 1579902068
EOF

read -n 1 -s -r -p "Make sure the 1Password CLI integration is enabled (https://developer.1password.com/docs/cli/get-started), then press any key to continue"
{{ end -}}
