version = "1"

[default]
force-inactive-lock = true

[default.backup]
verbose = true
source = ["/Users/seanpeters"]
exclude-file = "~/.config/restic/excludes"
exclude-caches = true
run-after = "curl -m 10 --retry 5 -X POST -H 'Content-Type: text/plain' --data 'Backup successful' {{ .restic_healthchecks_success }}"
schedule = "*:{{ .restic_backup_time }}"
schedule-permission = "user"
schedule-priority = "background"
schedule-log = "~/.config/restic/backup.log"
schedule-lock-mode = "default"
schedule-lock-wait = "15m30s"

[default.retention]
before-backup = false
after-backup = false
keep-daily = 14
keep-weekly = 12
keep-monthly = 48
keep-within = "72h"
prune = true
host = true
