font-family = TX-02
font-style = Regular
font-style-bold = ExtraBold
font-style-italic = Oblique
font-style-bold-italic = ExtraBold Oblique
font-size = "17"
theme = "rose-pine"
window-height = 40
window-width = 150
window-step-resize = true
adjust-cell-height = 8
adjust-cursor-height = 8
macos-option-as-alt = "left"
adjust-cursor-thickness = 3
{{- if eq .chezmoi.arch "arm64" }}
command = /opt/homebrew/bin/fish --login --interactive
{{- else }}
command = /usr/local/bin/fish --login --interactive
{{- end }}
