set -g fish_greeting

## set -gx JAVA_HOME "/Library/Java/JavaVirtualMachines/zulu-17.jdk/Contents/Home"
set -gx ANDROID_HOME $HOME/Library/Android/sdk
fish_add_path $ANDROID_HOME/emulator 
fish_add_path $ANDROID_HOME/platform-tools
fish_add_path $ANDROID_HOME/cmdline-tools/latest/bin
fish_add_path /Users/seanpeters/.local/share/bob/nvim-bin

set -g tide_left_prompt_items pwd git newline character
set -g tide_git_icon 
set -g tide_pwd_icon

# Added these to see if they help with Treesitter compilation
## set -gx CPPFLAGS "-I/opt/homebrew/opt/curl/include"
## set -gx LDFLAGS "-L/opt/homebrew/opt/curl/lib"
## set -gx PKG_CONFIG_PATH "/opt/homebrew/opt/curl/lib/pkgconfig"

if status is-interactive
  # Commands to run in interactive sessions can go here
  {{- if eq .chezmoi.arch "arm64" }}
  /opt/homebrew/bin/brew shellenv | source
  {{- else }}
  /usr/local/bin/brew shellenv | source
  {{- end }}

  set -gx EDITOR "nvim"
  set -gx ZK_NOTEBOOK_DIR "/Users/seanpeters/Notes"
  set fzf_directory_opts --bind "ctrl-o:execute($EDITOR {} &> /dev/tty)"
  set -x FZF_DEFAULT_OPTS --cycle --layout=reverse --border --height=90% --marker="*" --preview-window=right:65%,wrap --bind "ctrl-f:preview-page-down,ctrl-b:preview-page-up"
  set -a fish_function_path ~/.config/fish/functions/sp
  set -Ux BAT_THEME "base16"
  set -gx fzf_diff_highlighter delta --diff-so-fancy --width=20 --paging=never

  bind \ec 'pet-select'
  bind \cs 'history-pager'
  set -gx LS_COLORS (vivid generate rose-pine)

  abbr -a cht cht.sh
  abbr -a chts cht.sh --shell
  abbr -a cme chezmoi edit
  abbr -a cma chezmoi apply
  abbr -a cms chezmoi status
  abbr -a snb snibbets
  abbr -a lg lazygit
  abbr -a cm chezmoi
  abbr -a tm tmux
  abbr -a pss "pet search --color"
  abbr -a dotdot --regex '^\.\.+$' --function multicd
  abbr -a imactnl "ssh -L 8080:localhost:80 -L 3000:localhost:3000 -L 3306:db:3306 -N -T seanpeters@seans-imac"
  abbr -a dcu "docker compose up -d"
  abbr -a dcd "docker compose down"
  abbr -a dce "docker compose exec app sh"

  set -gx FNM_COREPACK_ENABLED true
  /usr/bin/env fnm env --use-on-cd | source

  zoxide init fish | source

  rbenv init - fish | source
end
