set -g fish_greeting

set -gx JAVA_HOME "/Library/Java/JavaVirtualMachines/zulu-17.jdk/Contents/Home"
set -gx ANDROID_HOME $HOME/Library/Android/sdk
set -gx PATH $PATH:$ANDROID_HOME/emulator
set -gx PATH $PATH:$ANDROID_HOME/platform-tools

if status is-interactive
  # Commands to run in interactive sessions can go here
  {{- if eq .chezmoi.arch "arm64" }}
  /opt/homebrew/bin/brew shellenv | source
  {{- else }}
  /usr/local/bin/brew shellenv | source
  {{- end }}
  
  # test -e {$HOME}/.iterm2_shell_integration.fish ; and source {$HOME}/.iterm2_shell_integration.fish
  set -gx EDITOR "nvim"
  set fzf_directory_opts --bind "ctrl-o:execute($EDITOR {} &> /dev/tty)"
  set -a fish_function_path ~/.config/fish/functions/sp
  set -Ux BAT_THEME "base16"
  set -gx fzf_diff_highlighter delta --diff-so-fancy --width=110 --paging=never -- --preview-window=right,70% 

  bind \ec 'pet-select'
  bind \cs 'history-pager'
  set -gx LS_COLORS (vivid generate rose-pine)

  abbr -a cht cht.sh
  abbr -a chts cht.sh --shell
  abbr -a snb snibbets
  abbr -a lg lazygit
  abbr -a cm chezmoi
  abbr -a tm tmux
  abbr -a pss "pet search --color"
  abbr -a dotdot --regex '^\.\.+$' --function multicd
  abbr -a imactnl "ssh -L 8080:localhost:80 -L 3000:localhost:3000 -L 3306:db:3306 -N -T seanpeters@seans-imac"

  set -gx FNM_COREPACK_ENABLED true
  /usr/bin/env fnm env --use-on-cd | source

  # _nvm_use_on_pwd_change
  zoxide init fish | source
end
